/EViP_ZH_gen/.vs/*
/obj/*
/bin/*
**/obj/*
**/bin/*
/AUT_BiralatiSablonGeneralo/kiirasok/*
/AUT_KiirasEsBiralatiSablonGeneralo/kiirasok/*
/AUT_KiirasEsBiralatiSablonGeneralo/output/*
/OnlabSokFelevesLetszamStat/__pycache__/*
/OnlabSokFelevesLetszamStat/downloads/*
/OnlabSokFelevesLetszamStat/output/*
/OnlabSokFelevesLetszamStat/backup/*
/TeamsUnsubscriber/teams_hidden_log.txt
/PyGameDevTest1/__pycache__/*
